.up-btn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 100;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: #242424;
    border: 2px solid #f4f4f4;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.up-btn:hover {
    background-color: #eea10c;
    border-color: #eea10c;
    transform: scale(1.1);
}

.up-btn.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.up-btn-icon {

    color: #f4f4f4;
    transition: color 0.3s ease;
}

.up-btn:hover .up-btn-icon {
    color: #242424;
}